# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


*._datetime.h
*._getDateFromString.c
*._getTimeFromString.c
*._isDateValid.c
*._isLeapYear.c
*._isTimeValid.c

 	*._0getMenu.c
	*._1createAppointment.c
	*._2editAppointment.c
	*._3deleteAppointment.c
	*._4searchAppointment.c
	*._5sortCalendar.c
	*._6listCalendar.c
	*._calendar.h
  *._datastructure.h
  *._main.c
  
  *._askYesOrNo.c
	*._clearBuffer.c
	*._clearScreen.c
	*._printLine.c
	*._tools.h
	*._waitForEnter.c
	
	*._listCalendar
	*_listCalendar

